@font-face {
  font-family: 'Clarendon';
  src:  url('/assets/fonts/ClarendonRegular.otf') format('otf');
}

*{
  font-family: Clarendon !important;
}

img.logo {
  height: 28px;
}

.primary-caption{
  font-weight:600;
  font-size: 12px;
  color: #2F353D;
}

.link-caption{
  text-decoration: none;
}

.bodyColor{
  background-color: #F1F5F9;
}

#headerDropup{
  display: none;
}

.jumbotron-sony{
  color: black;
  text-align: left;
  font-size: 48px;
  word-wrap: break-word;
}

.sony-nav{
  width: inherit;
}
 .sony-nav-space{
   margin-right: 100px;
 }